<header *ngIf="isAdminPage()" class="header" style="background-color: rgb(227, 227, 227);">
    <nav class="w-full border-white lg:px-6 py-2.5">
      <div
        class="flex flex-wrap justify-between items-center w-full">
        <div class="flex items-center justify-start gap-4">
            <a routerLink="/" routerLinkActive="active">
              <img
                style="width: auto; height: 80px; margin: auto"
                src="../../../assets/img/Logo-Shell1.png"/>
            </a>
            <h1 class="font-medium">{{shell_add}}</h1>
        </div>

        <!-- Section user -->
        <div class="flex lg:order-2 justify-end p-4 rounded-lg">
          <a class="text-gray-800 dark:text-gray-700 flex items-center justify-center">
            <span id="username">{{username}}</span>
          </a>
          <button class="flex ml-3 items-center justify-center"
            (click)="logout()">
            <img src="/assets/svg/logout.svg" alt="Delete" style="width: 24px; height: 24px;">
          </button>
        </div>
      </div>
    </nav>
  </header>
