.reel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  /* font-family: 'Anton'; */
  font-family: 'Monomaniac One';
  color: rgb(70, 70, 70);
  will-change: transform;
}

.stop-shake {
  animation: stopShake 0.5s ease-in-out;
}

.symbol-image {
  width: 60%;
  margin: auto;
  height: auto;
  object-fit: contain;
}

.reel.spin.up .content {
  animation: spinEffect 0.12s infinite linear;
}

.reel.spin.down .content {
  animation: spinEffectDown 0.14s infinite linear;
}

.reel.spin.slowing.up .content {
  animation-duration: 0.28s;
}

.reel.spin.slowing.down .content {
  animation-duration: 0.32s;
}

@keyframes spinEffect {
  0% {
    transform: rotateX(20deg) translateY(80%);
  }
  25% {
    transform: rotateX(15deg) translateY(40%);
  }
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: rotateX(-15deg) translateY(-50%);
  }
  100% {
    transform: rotateX(-20deg) translateY(-80%);
  }
}

@keyframes spinEffectDown {
  0% {
    transform: rotateX(-20deg) translateY(-80%);
  }
  25% {
    transform: rotateX(-15deg) translateY(-40%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: rotateX(15deg) translateY(50%);
  }
  100% {
    transform: rotateX(20deg) translateY(100%);
  }
}

@keyframes stopShake {
  0% { transform: translateY(0); }
  25% { transform: translateY(5px); }
  50% { transform: translateY(-5px); }
  75% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0;  }
  100% { opacity: 1;  }
}

@keyframes grow {
  0% { scale:100%; }
  50% { scale:150%; }
  100% { scale:100%; }
}

.blink {
  animation: blink 1s infinite, grow 0.5s;
}
