.reel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reel .content div {
  font-size: 10vmin;  /* Ajusta según el tamaño deseado */
  transition: transform 0.2s ease-in-out;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reel .content div:active {
  transform: scale(1.2);  /* Efecto de "enfoque" cuando el símbolo está activo */
}

.reel .content {
  display: flex;
  flex-direction: column;
}

.reel.spin .content {
  animation: spin 0.15s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.stop-shake {
  animation: stopShake 0.5s ease-in-out;
}

@keyframes stopShake {
  0% { transform: translateY(0); }
  25% { transform: translateY(5px); }
  50% { transform: translateY(-5px); }
  75% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}


@keyframes spin {
  0% {
    transform: translateY(80%);
  }
  40% {
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0;  }
  100% { opacity: 1;  }
}

@keyframes grow {
  0% { scale:100%; }
  50% { scale:150%; }
  100% { scale:100%; }
}

.blink {
  animation: blink 0.5s infinite, grow 0.5s;
}
