<main>
    <div class="container mx-auto text-gray-800">
        <h1 class="text-4xl mb-4">PREMIOS</h1>
      
        <div class="flex justify-between">
          <p class="text-lg">Contador global:  {{ counterSignal() }}</p>
          <button
            (click)="showModal=true"
            class="add-button text-white text-base font-bold py-1 px-4 focus:ring-2 focus:ring-white focus:outline-none rounded">
            Agregar
          </button>
        </div>
      <div class="grid">
        <ag-grid-angular
          class="ag-theme-quartz"
          style="height: 500px; width: 100%;"
          [getRowId]="getRowId"
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [sideBar]="false"
          fullWidthCellRenderer=""
          [suppressHorizontalScroll]="true"
          (gridReady)="onGridReady($event)"
          (cellValueChanged)="onCellValueChanged($event)"
          [pagination]="pagination"
          [paginationPageSize]="paginationPageSize"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
        ></ag-grid-angular>
      </div>
      <div class="w-full flex items-center justify-center ">
        <button class="text-gray-600 dark:text-gray-700 flex items-center justify-center" (click)="redirect()">
          <p class="text-lg">Ir a ruleta</p>
          <img src="/assets/svg/arrow.svg" alt="Delete" style="width: 24px; height: 16px;">
        </button>
      </div>
    </div>
  </main>

  <app-modal *ngIf="showModal" (formSubmit)="handleFormSubmit($event)" (close)="closeModal()"></app-modal>