<div ngxUiLoaderBlurred [loaderId]="'loader-01'">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<main class="h-screen flex flex-col items-center justify-center relative">
  <div class="relative w-screen h-screen">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 z-0">
      <img src="../../../assets/img/Fondo.webp" alt="Background Image" class="w-screen h-screen object-cover" />
    </div>

    <!-- Contenedor de los surtidores con sus componentes -->
    <section *ngIf="activePrizes.length > 0" class="absolute inset-0 flex items-center justify-center w-3/4 mx-auto">
      <!-- Surtidor Izquierda -->
      <div class="relative h-full w-full flex items-center justify-center">
        <img src="../../../assets/img/Surtidor_izquierda_A.webp" alt="Surtidor Izquierda" class="object-contain h-full w-full z-20" />
        <!-- Componente en el cuadrado vacío -->
        <app-reel
          class="absolute top-[30%] left-[19%] w-[50%] h-[30%] flex items-center justify-center z-10  bg-white"
          [duration]="duration"
          [displayPrizes]="displayPrizes"
          [index]="0"
          [targetSymbol]="targetSymbol"
          (stop)="onReelStop(0)"
          [ngClass]="'small-symbol'"
        ></app-reel>
      </div>

      <!-- Surtidor Medio -->
      <div class="relative h-full w-full flex items-center justify-center">
        <img src="../../../assets/img/Surtidor_medio_A.webp" alt="Surtidor Medio" class="object-contain h-full w-full z-20" />
        <app-reel
          class="absolute top-[30%] left-[25%] w-[50%] h-[30%] flex items-center justify-center z-10 bg-white"
          [duration]="duration"
          [displayPrizes]="displayPrizes"
          [index]="1"
          [targetSymbol]="targetSymbol"
          (stop)="onReelStop(1)"
          [ngClass]="'small-symbol'"
        ></app-reel>
      </div>

      <!-- Surtidor Derecha -->
      <div class="relative h-full w-full flex items-center justify-center">
        <img src="../../../assets/img/Surtidor_derecha_A.webp" alt="Surtidor Derecha" class="object-contain h-full w-full z-20" />
        <app-reel
          class="absolute top-[30%] right-[19%] w-[50%] h-[30%] flex items-center justify-center z-10 bg-white"
          [duration]="duration"
          [displayPrizes]="displayPrizes"
          [index]="2"
          [targetSymbol]="targetSymbol"
          (stop)="onReelStop(2)"
          [ngClass]="'small-symbol'"
        ></app-reel>
      </div>
    </section>

    <div *ngIf="showWinningMessage" class="winning-message">
    {{ winningPrize }}
    </div>
  </div>

  <button *ngIf="isTestMode"
    (click)="generateRandomSymbols()"
    type="button"
    [disabled]="spinning.includes(true)"
    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br font-medium rounded-lg px-5 py-2.5 text-center me-2 w-40 text-4xl z-10">
  </button>
</main>

<audio id="audio_back" controls hidden>
  <source type="audio/mpeg" src="../../../assets/music/back.mp3">
</audio>
<audio id="audio_win" controls hidden>
  <source type="audio/mpeg" src="../../../assets/music/win.mp3">
  <source type="audio/mpeg" src="../../../assets/music/applause-180037.mp3">
</audio>
<router-outlet></router-outlet>
