<div id="toast-container"
      *ngIf="toast"
      [ngClass]="{
        'bg-white text-green-500': toast.type === 'success',
        'bg-white text-red-500': toast.type === 'error',
        'bg-white text-orange-500': toast.type === 'warning'
      }"
      class="fixed bottom-4 right-4 max-w-xs p-4 rounded-lg shadow"
      role="alert"
    >
      <div class="flex items-center">
        <div
          class="w-8 h-8 rounded-lg flex items-center justify-center"
          [ngClass]="{
            'bg-green-100': toast.type === 'success',
            'bg-red-100': toast.type === 'error',
            'bg-orange-100': toast.type === 'warning'
          }"
        >
          <ng-container [ngSwitch]="toast.type">
            <svg *ngSwitchCase="'success'" class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <svg *ngSwitchCase="'error'" class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
            </svg>
            <svg *ngSwitchCase="'warning'" class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
            </svg>
          </ng-container>
        </div>
        <div class="ms-3 text-sm font-normal">{{ toast.message }}</div>
        <button
          class="ms-auto bg-transparent text-gray-400 hover:text-gray-900"
          (click)="closeToast()"
        >
          <svg class="w-3 h-3" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
    </div>