@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(241, 241, 241);}
input {
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: gray;
    outline: none;
  }

  .anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

  .monomaniac-one-regular {
    font-family: "Monomaniac One", serif;
    font-weight: 400;
    font-style: normal;
  }
  